/* make sure to make it a mobile first approach! */

body,
html {
  font-family: 'Montserrat', sans-serif;
  /* background-color: #341cac; */
}

.App {
  text-align: center;
}

/* maybe use for new logo */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #fff;
  height: 50px;
  padding: 20px;
  color: #69CC84;
  text-align: left;
  padding-left: 50px;
}

/* use for new logo */
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
